{% extends "base.html" %}
{% load bootstrap3 static i18n %}

{% block bootstrap3_extra_script %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}">
<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.time.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.resize.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.navigate.js" %}"></script>

<style type="text/css">
#id_kennung { width: 5em; }
#id_blversion { width: 8em; }
</style>

<script type="text/javascript">
$(function() {
	var sys = {{ sys|safe }};
	var dia = {{ dia|safe }};
	var puls = {{ puls|safe }};
	var tmp = {{ tmp|safe }};
	var gew = {{ gew|safe }};
	
	var d_sys = new Array(sys.length);
	for (i=0; i < sys.length; i++) {
		var wert = new Array(2);
		wert[0] = new Date(sys[i][0])
		wert[1] = sys[i][1]
		d_sys.push(wert)
	}
	
	var d_dia = new Array(dia.length);
	for (i=0; i < dia.length; i++) {
		var wert = new Array(2);
		wert[0] = new Date(dia[i][0])
		wert[1] = dia[i][1]
		d_dia.push(wert)
	}
	
	var d_puls = new Array(puls.length);
	for (i=0; i < puls.length; i++) {
		var wert = new Array(2);
		wert[0] = new Date(puls[i][0])
		wert[1] = puls[i][1]
		d_puls.push(wert)
	}
	
	var d_tmp = new Array(tmp.length);
	for (i=0; i < tmp.length; i++) {
		var wert = new Array(2);
		wert[0] = new Date(tmp[i][0])
		wert[1] = tmp[i][1]
		d_tmp.push(wert)
	}
	
	var d_gew = new Array(gew.length);
	for (i=0; i < gew.length; i++) {
		var wert = new Array(2);
		wert[0] = new Date(gew[i][0])
		wert[1] = gew[i][1]
		d_gew.push(wert)
	}
	
	function labelFormatter(v, axis) {
		switch (axis.n) {
		  case 1:
			symbol = " mm Hg";
			break;
		  case 2:
			symbol = "&deg;C";
			break;
		  case 3:
			symbol = " Kg";
			break;
		  case 4:
			symbol = " /min";
			break;
		  default:
			symbol = "";
			break;
		}
		return v.toFixed(axis.tickDecimals) + symbol;
	}
	
	var datasets = {
			"sys": {label: "RR sys", data: d_sys, xaxis: 1, yaxis: 1 },
        	"dia": {label: "RR dia", data: d_dia, xaxis: 1, yaxis: 1 },
        	"pls": {label: "Puls", data: d_puls, xaxis: 1, yaxis: 4 },
        	"gew": {label: "Gewicht", data: d_gew, xaxis: 1, yaxis: 3 },
        	"tmp": {label: "Temperatur", data: d_tmp, xaxis: 1, yaxis: 2 }
	};
	
	options = {
	        series: {
	        	lines: { show: true },
	          	points: { show: false }
			},
			xaxis: { 
				mode: "time",
				monthNames: ["Jan", "Feb", "Mrz", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
			    timeformat: "%d. %b<br>%Y",
			    timezone: 'browser',
	        	minTickSize: [1, "day"],
	            min: (new Date("{{ vondate|safe }}")),
	            max: (new Date("{{ bisdate|safe }}"))
	            //panRange: [new Date("{{ von|safe }}"), new Date("{{ von|safe }}")]
	          	},
	        yaxis: {
	        	mode: null,
	    		panRange: false,
	    		zoomRange: false,
	    	},
			yaxes: [
				{
	        		ticks: 10,
	        		min: 30,
	        		max: 150,
	        		tickDecimals: 0,
	        		tickFormatter: labelFormatter
	        	},
	         	{
	         		ticks: 10,
	         		min: 34,
	         		max: 39,
	        		tickDecimals: 0,
	        		position: "right",
	        		tickFormatter: labelFormatter
	         	},
	        	{
	         		ticks: 10,
	         		min: 70,
	         		max: 90,
	        		tickDecimals: 0,
	        		position: "right",
	        		tickFormatter: labelFormatter
	         	},
	         	{
	         		ticks: 10,
	         		min: 40,
	         		max: 120,
	        		tickDecimals: 0,
	        		position: "left",
	        		tickFormatter: labelFormatter
	         	}
			],
	        grid: {
	        	backgroundColor: { colors: [ "#fff", "#eee" ] },
	          	borderWidth: {
	          		top: 1,
	          		right: 1,
	          		bottom: 2,
	          		left: 2
	          		
	          	}
	        },
	        pan: {
				interactive: true
			},
			zoom: {
				interactive: true
			},
			legend: {
			    show: true,
			    noColumns: 5,
			    position: "ne"
			}
	};
	
	var placeholder = $("#placeholder");
	
	//$.plot("#placeholder", datasets, options); // jetzt ueber plotAccordingToChoices();
	
	var i = 0;
	$.each(datasets, function(key, val) {
		val.color = i;
		++i;
	});

	// insert checkboxes 
	var choiceContainer = $("#choices");
	$.each(datasets, function(key, val) {
		choiceContainer.append("<input type='checkbox' name='" + key +
			"' checked='checked' id='id" + key + "'></input>" +
			"<label for='id" + key + "'>"
			+ val.label + "</label>");
	});

	choiceContainer.find("input").click(plotAccordingToChoices);

	function plotAccordingToChoices() {

		var data = [];

		choiceContainer.find("input:checked").each(function () {
			var key = $(this).attr("name");
			if (key && datasets[key]) {
				data.push(datasets[key]);
			}
		});

		if (data.length > 0) {
			$.plot("#placeholder", data, options);
		}
	}

	plotAccordingToChoices();

    window.onresize = function(event) {
        plotAccordingToChoices();
    }
});

</script>
{% endblock %}

{% block title %}Diagramm{% endblock %}


{% block content %}

<div class="row">
    <div class="list-group">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading">Messwerte als Diagramm</h4>
            <p class="list-group-item-text">{{ user.profile.usrinf }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="btn-group" role="group" >
        <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="Verwalten von Messwerten">
            <i class="far fa-home"></i>
        </a>
        <a href="{% url 'werte:werte' %}" class="btn btn-primary" role="button" title="Messwerte">
            <i class="far fa-list"></i>
        </a>
    </div>
</div>

<div class="row"></div>
    <div class="demo-container container">
        <div id="placeholder" class="demo-placeholder" style="width: 100%;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 centered">
        <div id="choices"></div>
    </div>
</div>
{% endblock %}