{% extends "base.html" %}
{% load django_bootstrap5 static i18n usrprofile_tags %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}">
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    {% for value_type in value_types %}
    $.get('{% url "werte:json-values" value_type.slug %}', function(data) {
        var ctx = $("#{{ value_type.slug }}_chart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line',
            data: data
        });
    });
    {% endfor %}
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Measurements diagramm' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'werte:werte' %}" class="btn btn-primary" role="button" title="{% trans 'Measurements' %}">
        <i class="far fa-list"></i>
    </a>
</div>


{% for value_type in value_types %}
    <canvas id="{{ value_type.slug }}_chart" width="800" height="200"></canvas>
{% endfor %}
{% endblock %}
