{% extends "base.html" %}
{% load django_bootstrap5 static i18n usrprofile_tags %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    {% for value_type in value_types %}
    $.get('{% url "werte:json-values" value_type.slug von bis %}', function(data) {
        var ctx = $("#{{ value_type.slug }}_chart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line',
            data: data
        });
    });
    {% endfor %}
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Measurements diagramm' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'werte:werte' %}" class="btn btn-primary" role="button" title="{% trans 'Measurements' %}">
        <i class="far fa-list"></i>
    </a>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h6>
            {% trans 'Diagrams for measurements' %}
            {{ first|date:'DATE_FORMAT' }} - {{ last|date:'DATE_FORMAT' }}
        </h6>

        {% for value_type in value_types %}
            <canvas id="{{ value_type.slug }}_chart" width="800" height="200"></canvas>
        {% endfor %}

    </div>
</div>
{% endblock %}
