{% extends "base.html" %}
{% load bootstrap4 i18n usrprofile_tags %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Measurement' as user_title %}
{% user_header user_title user %}

<form method="post" action="" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% trans 'Ok' as ok %}
    {% trans 'Cancel' as cancel %}
    {% buttons layout='inline' %}
        {% bootstrap_button ok button_class="btn-primary" button_type='submit' name='ok' %}
        {% bootstrap_button cancel button_class="btn-secondary" button_type='submit' name='cancel' %}
    {% endbuttons %}
</form>

{% endblock %}
