{% extends "base.html" %}
{% load bootstrap4 l10n usrprofile_tags %}

{% block page_title %}{% endblock %}

{% block content %}

{% user_header 'Minimal-, Maximal- und Mittelwerte' user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="Verwalten von Messwerten">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'werte:werte' %}" class="btn btn-primary" role="button" title="Messwerte">
        <i class="far fa-list"></i>
    </a>
</div>

<div class="v-offset">
    <h4>Blutdruck</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Minimum RR-Sys:</th><td>{{ minrrsys }} mm/Hg</td>
            </tr>
            <tr>
                <th>Maximum RR-Sys:</th><td>{{ maxrrsys }} mm/Hg</td>
                <th>Mittelwert:</th><td>{{ medrrsys|floatformat:1 }} mm/Hg</td>
            </tr>
            <tr>
                <th>Minimum RR-Dia:</th><td>{{ minrrdia }} mm/Hg</td>
            </tr>
            <tr>
                <th>Maximum RR-Dia:</th><td>{{ maxrrdia }} mm/Hg</td>
                <th>Mittelwert:</th><td>{{ medrrdia|floatformat:1 }} mm/Hg</td>
            </tr>
        </tbody>
    </table>

    <h4>Puls</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Minimum Puls:</th><td>{{ minpuls }} /min</td>
            </tr>
            <tr>
                <th>Maximum Puls:</th><td>{{ maxpuls }} /min</td>
                <th>Mittelwert:</th><td>{{ medpuls|floatformat:1 }} /min</td>
            </tr>
        </tbody>
    </table>

    <h4>Temperatur</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Minimum Temp.:</th><td>{{ mintemp|floatformat:1 }} &deg;C</td>
            </tr>
            <tr>
                <th>Maximum Temp.:</th><td>{{ maxtemp|floatformat:1 }} &deg;C</td>
                <th>Mittelwert:</th><td>{{ medtemp|floatformat:1 }} &deg;C</td>
            </tr>
        </tbody>
    </table>

    <h4>Gewicht</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Minimum Gewicht:</th><td>{{ mingew|floatformat:1 }} Kg</td>
            </tr>
            <tr>
                <th>Maximum Gewicht:</th><td>{{ maxgew|floatformat:1 }} Kg</td>
                <th>Mittelwert:</th><td>{{ medgew|floatformat:1 }} Kg</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
