{% extends "base.html" %}
{% load django_bootstrap5 l10n i18n usrprofile_tags %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Minimum, maximum and average values' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'werte:werte' %}" class="btn btn-primary" role="button" title="{% trans 'Measurements' %}">
        <i class="far fa-list"></i>
    </a>
</div>

<div class="v-offset">
    
    <table class="table table-bordered">
        <thead>
            <th></th>
            <th><i class="far fa-arrow-to-bottom" title="{% trans 'Minimum' %}"></i></th>
            <th><i class="far fa-arrow-to-top" title="{% trans 'Maximum' %}"></i></th>
            <th><i class="far fa-arrows-v" title="{% trans 'Average' %}"></i></th>
        </thead>
        <tbody>
            <tr>
                <th>{% trans 'RR sys' %}</th>
                <td>{{ minrrsys }} mm/Hg</td>
                <td>{{ maxrrsys }} mm/Hg</td>
                <td>{{ medrrsys|floatformat:1 }} mm/Hg</td>
            </tr>
            <tr>
                <th>{% trans 'RR dia' %}</th>
                <td>{{ minrrdia }} mm/Hg</td>
                <td>{{ maxrrdia }} mm/Hg</td>
                <td>{{ medrrdia|floatformat:1 }} mm/Hg</td>
            </tr>
            <tr>
                <th>{% trans 'Pulse' %}</th>
                <td>{{ minpuls }} /min</td>
                <td>{{ maxpuls }} /min</td>
                <td>{{ medpuls|floatformat:1 }} /min</td>
            </tr>
            <tr>
                <th>{% trans 'Temperature' %}</th>
                <td>{{ mintemp|default_if_none:'0'|floatformat:1 }} &deg;C</td>
                <td>{{ maxtemp|default_if_none:'0'|floatformat:1 }} &deg;C</td>
                <td>{{ medtemp|default_if_none:'0'|floatformat:1 }} &deg;C</td>
            </tr>
            <tr>
                <th>{% trans 'Weight' %}</th>
                <td>{{ mingew|default_if_none:'0'|floatformat:1 }} Kg</td>
                <td>{{ maxgew|default_if_none:'0'|floatformat:1 }} Kg</td>
                <td>{{ medgew|default_if_none:'0'|floatformat:1 }} Kg</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
