{% extends "base.html" %}
{% load django_bootstrap5 l10n i18n usrprofile_tags %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Minimum, maximum and average values' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'werte:werte' %}" class="btn btn-primary" role="button" title="{% trans 'Measurements' %}">
        <i class="far fa-list"></i>
    </a>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h6>
            {% trans 'Statistics for measurements' %} {{ von }} - {{ bis }}
        </h6>
        <table class="table table-bordered">
            <thead>
                <th>{% trans 'Measurement' %}</th>
                <th><i class="far fa-tachometer-fastest" title="{% trans 'Maximum' %}"></i></th>
                <th><i class="far fa-tachometer-slowest" title="{% trans 'Minimum' %}"></i></th>
                <th><i class="far fa-tachometer-average" title="{% trans 'Average' %}"></i></th>
            </thead>
            <tbody>
                {% for key, value in stats.items %}
                <tr>
                    <th>{{ value.name }} <small>({{ value.unit }})</small></th>
                    <td>{{ value.value__max|floatformat:value.decimals }}</td>
                    <td>{{ value.value__min|floatformat:value.decimals }}</td>
                    <td>{{ value.value__avg|floatformat:value.decimals }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
