{% extends "base.html" %}
{% load i18n django_bootstrap5 static usrprofile_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#create-action").modalForm({
        formURL: "{% url 'werte:neu' %}",
        modalID: "#modal"
    });

    $(".update-action").each(function() {
        $(this).modalForm({
            formURL: $(this).data('url'),
            modalID: "#modal",
            errorClass: '.is-invalid'
        });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip({'animation': true})
    })

});
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
{% trans 'Measurements' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button"
       title="{% trans 'Home page' %}" data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-home"></i>
    </a>
    <button id="create-action" class="btn btn-primary" role="button"
            title="{% trans 'New measurements' %}" data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-plus"></i>
    </button>
    <a href="{% url 'werte:diagram' von|date:'Y-m-d' bis|date:'Y-m-d' %}"
        class="btn btn-primary" role="button" title="{% trans 'Diagramm' %}"
        data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-chart-area"></i>
    </a>
    <a href="{% url 'werte:minmax' von|date:'Y-m-d' bis|date:'Y-m-d' %}"
        class="btn btn-primary" role="button" title="{% trans 'Statistics' %}"
        data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-arrows-v"></i>
    </a>
    <a href="{% url 'werte:email' von|date:'Y-m-d' bis|date:'Y-m-d' %}"
        class="btn btn-primary" role="button" title="{% trans 'Send measurements by email' %}"
        data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-envelope"></i>
    </a>
</div>

<div class="row mt-3">
    <div class="col">
        <h5>Zeitraum</h5>
        <form method="post" role="form" >
            {% csrf_token %}
            <div class="row input-group filter">
                <div class="col-md-3">
                    {% bootstrap_field form.vonDate addon_after='<i class="far fa-calendar-alt"></i>' %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.bisDate addon_after='<i class="far fa-calendar-alt"></i>' %}
                </div>
                <div class="col-md-3">
                    <button id="id_refresh" type="submit" class="btn btn-secondary">
                        <i class="far fa-sync"></i>
                        {% trans 'Refresh' %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-top: -1rem;">
    <div class="col">
        <table id="wertelist" data-toggle="table" class="table table-striped table-bordered"
                data-locale="de-DE" data-search="true" data-mobile-responsive="true" data-min-width="768">
            <thead>
                <tr>
                    <th data-sortable="true">{% trans 'Date' %}</th>
                    <th data-sortable="true">{% trans 'RR sys' %}<br><small>(mm/Hg)</small></th>
                    <th data-sortable="true">{% trans 'RR dia' %}<br><small>(mm/Hg)</small></th>
                    <th data-sortable="true">{% trans 'Pulse' %}<br><small>(1/min)</small></th>
                    <th data-sortable="true">{% trans 'Temp.' %}<br><small>(&deg;C)</small></th>
                    <th data-sortable="true">{% trans 'Weight' %}<br><small>(Kg)</small></th>
                    <th>{% trans 'Peculiarity' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for wert in wertelist %}
                <tr>
                    <td>
                        <span class="as_link update-action" data-url="{% url 'werte:edit' wert.id %}">
                            {{ wert.date|date:"SHORT_DATETIME_FORMAT" }}
                        </span>
                    </td>
                    <td class="sortable">{{ wert.rrsys|default_if_none:"" }}</td>
                    <td>{{ wert.rrdia|default_if_none:"" }}</td>
                    <td>{{ wert.puls|default_if_none:"" }}</td>
                    <td>{{ wert.temp|floatformat:1 }}</td>
                    <td>{{ wert.gew|floatformat:1 }}</td>
                    <td>{{ wert.bemerkung|default_if_none:"" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

