{% extends "base.html" %}
{% load bootstrap4 static %}

{% block bootstrap4_extra_script %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block title %}Messwerte{% endblock %}

{% block content %}

<div class="list-group user-header">
    <div class="list-group-item active">
        <h4 class="list-group-item-heading">Messwerte</h4>
        <p class="list-group-item-text">{{ user.profile.usrinf }}</p>
    </div>
</div>

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="Startseite">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'werte:neu' %}" class="btn btn-primary" role="button" title="Neuen Messwert erfassen">
        <i class="far fa-plus"></i>
    </a>
    <a href="{% url 'werte:diagram' form.vonDate.value form.bisDate.value %}" class="btn btn-primary" role="button" title="Diagramm">
        <i class="far fa-chart-area"></i>
    </a>
    <a href="{% url 'werte:minmax' form.vonDate.value form.bisDate.value %}" class="btn btn-primary" role="button" title="Statistik">
        <i class="far fa-arrows-v"></i>
    </a>
    <a href="{% url 'werte:email' form.vonDate.value form.bisDate.value %}" class="btn btn-primary" role="button" title="Werte per email versenden">
        <i class="far fa-envelope"></i>
    </a>
</div>

<div class="v-offset">
    <h5>Zeitraum</h5>
    <form method="POST" class="form-inline" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form layout='inline' %}
        {% buttons %}
            <button type="submit" class="btn btn-secondary">
                anzeigen
            </button>
        {% endbuttons %}
    </form>
</div>

<div class="v-offset">
    <div class="table-responsive">
    <table id="wertelist" class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th>RR-Sys<br>(mm/Hg)</th>
                <th>RR-Dia<br>(mm/Hg)</th>
                <th>Puls<br>(1/min)</th>
                <th>Temp.<br>(&deg;C)</th>
                <th>Gewicht<br>(Kg)</th>
                <th>Besonderheiten</th>
            </tr>
        </thead>
        <tbody>
            {% for wert in wertelist %}
            <tr>
                <td><a href="{% url 'werte:edit' wert.id %}">{{ wert.date|date:_("d.m.Y H:i") }}</a></td>
                <td>{{ wert.rrsys|default_if_none:"" }}</td>
                <td>{{ wert.rrdia|default_if_none:"" }}</td>
                <td>{{ wert.puls|default_if_none:"" }}</td>
                <td>{{ wert.temp|floatformat:1 }}</td>
                <td>{{ wert.gew|floatformat:1 }}</td>
                <td>{{ wert.bemerkung|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>


{% endblock %}

