Babel==2.7.0
colorama==0.4.1
Django==3.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
django-formtools==2.1
django-mail-templated==2.6.5
django-orderable==6.0.1
django-otp==0.7.4
django-phonenumber-field==3.0.1
django-two-factor-auth==1.9.1
phonenumberslite==8.11.0
pytz==2019.3
qrcode==6.1
six==1.13.0
sqlparse==0.3.0
