Django==6.0
django-admin-sortable2==2.3
django-allauth[mfa]==65.13.1
django-bitfield==2.2.0
django-bootstrap-modal-forms==3.0.5
django-bootstrap5==25.3
django-chartjs==2.3.0
django-filter==25.2
django-formtools==2.5.1
django-mail-templated==2.6.5
django-select2==8.4.3
phonenumbers==9.0.20
psycopg2-binary==2.9.11
