{% extends "base.html" %}
{% load i18n django_bootstrap5 static usrprofile_tags measurement_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#create-action").modalForm({
        formURL: "{% url 'measurement:neu' %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

    $(".update-action").each(function() {
        $(this).modalForm({
            formURL: $(this).data('url'),
            modalID: "#modal",
            errorClass: '.is-invalid'
        });
    });

    $('#wertelist').on('toggle.bs.table', function (e, cardView) {
        $(".update-action").each(function() {
            $(this).modalForm({
                formURL: $(this).data('url'),
                modalID: "#modal",
                errorClass: '.is-invalid'
            });
        });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip({'animation': true})
    })

});
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
{% trans 'Measurements' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button"
       title="{% trans 'Home page' %}" data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-home"></i>
    </a>
    <button id="create-action" class="btn btn-primary" role="button"
            title="{% trans 'New measurements' %}" data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-plus"></i>
    </button>
    <a href="{% url 'measurement:diagram' min_date max_date %}"
        class="btn btn-primary" role="button" title="{% trans 'Diagramm' %}"
        data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-chart-area"></i>
    </a>
    <a href="{% url 'measurement:minmax' min_date max_date %}"
        class="btn btn-primary" role="button" title="{% trans 'Statistics' %}"
        data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-arrows-v"></i>
    </a>
    <a href="{% url 'measurement:print' min_date max_date %}"
        class="btn btn-primary" role="button" title="{% trans 'Print' %}"
        data-toggle="tooltip" data-placement="bottom">
        <i class="far fa-print"></i>
    </a>
</div>

<div class="row mt-3">
    <div class="col">
        <form method="get" role="form" >
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field filter.form.date size='sm' %}
                </div>
                <div class="col-md-6">
                    <button id="id_refresh" type="submit" class="btn btn-secondary">
                        <i class="far fa-sync"></i>
                        {% trans 'Refresh' %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <table id="wertelist" data-toggle="table" data-classes="table table-striped table-bordered"
                data-locale="de-DE" data-mobile-responsive="true" data-min-width="768">
            <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    {% for value_type in value_types %}
                    <th>
                        {{ value_type.name }}
                        <br class="opt">
                        <small>
                            ({{ value_type.unit }})
                        </small>
                    </th>
                    {% endfor %}
                    <th>{% trans 'Peculiarity' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for wert in page_obj %}
                <tr>
                    <td>
                        <span class="as_link update-action" data-url="{% url 'measurement:edit' wert.id %}">
                            {{ wert.date|date:"SHORT_DATETIME_FORMAT" }}
                        </span>
                    </td>
                    {% for value_type in value_types %}
                        <td>{% format_value wert value_type %}</td>
                    {% endfor %}
                    <td>{{ wert.comment|default_if_none:"" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
    {% if is_paginated %}
        {% bootstrap_pagination page_obj extra=request.GET.urlencode size="sm" %}
    {% endif %}
    </div>
</div>

{% endblock %}

