{% extends "base.html" %}
{% load i18n django_bootstrap5 static usrprofile_tags wert_tags %}

{% block page_title %}{% endblock %}

{% block content %}
{% trans 'Measurements' as user_title %}
{% user_header user_title user %}

<div class="row mt-3">
    <div class="col">
        {{ min_date|date:'DATE_FORMAT' }} - {{ max_date|date:'DATE_FORMAT' }}
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    {% for value_type in value_types %}
                    <th>
                        {{ value_type.name }}
                        <br class="opt">
                        <small>
                            ({{ value_type.unit }})
                        </small>
                    </th>
                    {% endfor %}
                    <th>{% trans 'Peculiarity' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for wert in measurement_list %}
                <tr>
                    <td>
                        <span class="as_link update-action" data-url="{% url 'measurement:edit' wert.id %}">
                            {{ wert.date|date:"SHORT_DATETIME_FORMAT" }}
                        </span>
                    </td>
                    {% for value_type in value_types %}
                        <td>{% format_value wert value_type %}</td>
                    {% endfor %}
                    <td>{{ wert.comment|default_if_none:"" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
    {% if is_paginated %}
        {% bootstrap_pagination page_obj extra=request.GET.urlencode size="sm" %}
    {% endif %}
    </div>
</div>

{% endblock %}

