{% extends "base_site.html" %}
{% load bootstrap3 l10n %}

{% block title %}Bestandsverlauf{% endblock %}

{% block content %}
<div class="row">
    <div class="list-group">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading"><b>Medikament:</b> {{ medikament.name }} {{ medikament.staerke }} {{ medikament.einheit }}</h4>
            <p class="list-group-item-text"><b>Bestand:</b> {{ medikament.bestand }} Tabletten</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="btn-group" role="group" >
        <a href="{% url 'index' %}" class="btn btn-primary" role="button" title="Startseite">
            <i class="far fa-home"></i>
        </a>
        <a href="{% url 'medikamente:medikamente' %}" class="btn btn-primary" role="button" title="Medikamente">
            <i class="far fa-list"></i>
        </a>
    </div>
</div>

<div class="row v-offset">
    <table id="wertelist" class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Menge</th>
                <th>Grund</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            {% for change in bestchangelist %}
            <tr>
                <td>{{ change.date|date:_("d.m.Y") }}</td>
                <td style="text-align: right; padding-right: 10px;">{{ change.menge|floatformat:2 }} Tabl.</td>
                <td>{{ change.get_grund_display }}</td>
                <td>{{ change.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

