{% extends "base.html" %}
{% load static bootstrap3 l10n %}

{% block bootstrap3_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'bootstrap3_datetime/bootstrap-datetimepicker.min.css' %}" type="text/css" />
<script src="{% static 'bootstrap3_datetime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

{% block bootstrap3_extra_script %}
{{ form.media }}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    var menge = "{{ defmenge }}"
    $("#id_grund").change(function () {
        var packung = {{ medikament.packung|safe }}
        var grund = $(this).children(":selected").val();
        if (grund != '') {
            switch(grund)
            {
            case "01": // neue Packung
                $("#id_menge").val(packung);
                break;
            case "02": // Einnahme vergessen
                $("#id_menge").val(menge);
                break;
            case "03": // Einnahme ausgesetzt
                $("#id_menge").val(menge);
                break;
            default:
                break;
            }
        }
    });
});
</script>
{% endblock %}

{% block title %}Bestandsänderung{% endblock %}

{% block content %}

<div class="row">
    <div class="list-group">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading"><b>Medikament:</b> {{ medikament.name }} {{ medikament.staerke }} {{ medikament.einheit }}</h4>
            <p class="list-group-item-text"><b>Bestand:</b> {{ medikament.bestand }} Tabletten</p>
        </div>
    </div>
</div>

<div class="row">
    <form method="post" action="" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons layout='inline' %}
            {% bootstrap_button "Ok" button_class="btn-primary" button_type='submit' name='Ok' %}
            {% bootstrap_button "abbrechen" button_class="btn-default" button_type='submit' name='cancel' %}
        {% endbuttons %}
    </form>
</div>

{% endblock %}
