{% extends "base.html" %}
{% load bootstrap4 i18n l10n %}

{% block page_title %}{% trans 'Send prescription' %}{% endblock %}

{% block content %}

<form method="post" action="" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons layout='inline'  %}
        {% bootstrap_button "<i class='far fa-paper-plane'></i> senden" button_class="btn-primary" button_type='submit' name='ok' %}
        {% bootstrap_button "abbrechen" button_class="btn-secondary" button_type='submit' name='cancel' %}
    {% endbuttons %}
</form>

<div class="v-offset">
    <table id="wertelist" class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Medicament' %}</th>
                <th>{% trans 'Morning' %}</th>
                <th>{% trans 'Noon' %}</th>
                <th>{% trans 'Evening' %}</th>
                <th>{% trans 'Night' %}</th>
                <th>{% trans 'Weekdays' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vo in verordnungen %}
            <tr>
                <td>
                    {{ vo.ref_medikament.name }}
                    {{ vo.ref_medikament.staerke }}
                    {{ vo.ref_medikament.einheit }}
                </td>
                <td>{% if vo.morgen %}{{ vo.morgen|floatformat:2 }} Tbl.{% endif %}</td>
                <td>{% if vo.mittag %}{{ vo.mittag|floatformat:2 }} Tbl.{% endif %}</td>
                <td>{% if vo.abend %}{{ vo.abend|floatformat:2 }} Tbl.{% endif %}</td>
                <td>{% if vo.nacht %}{{ vo.nacht|floatformat:2 }} Tbl.{% endif %}</td>
                <td>
                {% if vo.mo and vo.di and vo.mi and vo.do and vo.fr and vo.sa and vo.so %}
                    <span>{% trans 'All' %}</span>
                {% else %}
                    {% trans 'Mo ,' as mo  %}
                    {% trans 'Tu ,' as tu  %}
                    {% trans 'We ,' as we  %}
                    {% trans 'Th ,' as th  %}
                    {% trans 'Fr ,' as fr  %}
                    {% trans 'Sa ,' as sa  %}
                    {% trans 'Su ,' as su  %}
                    {{ vo.mo|yesno:mo }}
                    {{ vo.di|yesno:tu }}
                    {{ vo.mi|yesno:we }}
                    {{ vo.do|yesno:th }}
                    {{ vo.fr|yesno:fr }}
                    {{ vo.sa|yesno:sa }}
                    {{ vo.so|yesno:su }}
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

