{% extends "base_site.html" %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
{{ block.super }}
<style>
</style>
{% endblock %}

{% block title %}Medikament löschen{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
    {% csrf_token %}
    <p>Soll das Medikament "{{ object }}" wirklich gelöscht werden?</p>
    <p>Achtung: Verordnungen des Medikaments werden mit gelöscht!</p>
    {% buttons layout='inline' %}
        {% bootstrap_button "Ok" button_class="btn-primary" button_type='submit' name='ok' icon="glyphicon glyphicon-ok" %}
        {% bootstrap_button "Abbrechen" button_class="btn-default" button_type='submit' name='cancel' %}
    {% endbuttons %}
</form>

{% endblock %}