{% extends "base.html" %}
{% load bootstrap4 i18n %}

{% block page_title %}{% trans 'Delete medicament' %}{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
    {% csrf_token %}
    <p>
        {% blocktrans trimmed %}Really delete "{{ object }}"?{% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
           Please note: All prescriptions of this medicament will be deleted!
        {% endblocktrans %}
    </p>
    {% buttons layout='inline' %}
        {% trans 'Ok' as ok %}
        {% trans 'Cancel' as cancel %}
        {% bootstrap_button ok button_class="btn-primary" button_type='submit' name='ok' %}
        {% bootstrap_button cancel button_class="btn-secondary" button_type='submit' name='cancel' %}
    {% endbuttons %}
</form>

{% endblock %}