{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Medikament{% endblock %}

{% block content %}

<div class="row">
    <form method="post" action="" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}
        {% buttons layout='inline'  %}
            {% bootstrap_button "Ok" button_class="btn-primary" button_type='submit' name='ok' icon="glyphicon glyphicon-ok" %}
            {% bootstrap_button "abbrechen" button_class="btn-default" button_type='submit' name='cancel' %}
            {% if med_id %}
                <a href="{% url 'medikamente:deletemed' med_id %}" class="btn btn-default" role="button">
                    Löschen
                </a>
            {% endif %}
        {% endbuttons %}
    </form>
</div>

{% endblock %}
