{% extends "base.html" %}
{% load i18n bootstrap4 usrprofile_tags %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
{{ form.media.js }}
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
{% endblock %}


{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Medicaments' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'medikamente:mednew' %}" class="btn btn-primary" role="button" title="{% trans 'New medicament' %}">
        <i class="far fa-plus"></i>
    </a>
</div>

<div class="v-offset">
    <table id="wertelist" data-toggle="table" class="table table-striped table-bordered"
            data-locale="de-DE" data-search="true" data-mobile-responsive="true" data-min-width="768">
        <thead>
            <tr>
                <th>{% trans 'Medicament' %}</th>
                <th>{% trans 'Active ingredient' %}</th>
                <th>{% trans 'Package size' %}</th>
                <th style="text-align: right;">{% trans 'Dose' %}</th>
                <th style="text-align: right; padding-right: 4rem;">{% trans 'Inventory' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for med in medikamente %}
            <tr>
                <td><a href="{% url 'medikamente:mededit' med.id %}">{{ med.name }}</a></td>
                <td>{{ med.wirkstoff }}</td>
                <td>{{ med.packung }} {% trans 'Tabl.' %}</td>
                <td style="text-align: right;">{{ med.staerke|floatformat:2 }} {{ med.einheit }}</td>
                <td style="text-align: right;">
                    {{ med.bestand|floatformat:2 }} {% trans 'Tabl.' %}
                    &nbsp;
                    <a href="{% url 'medikamente:bestandedit' med.id %}" title="{% trans 'Inventory change' %}">
                        <i class="far fa-sm fa-edit"></i>
                    </a>
                    &nbsp;
                    <a href="{% url 'medikamente:besthistory' med.id %}" title="{% trans 'Inventory history' %}">
                        <i class="far fa-sm fa-history"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

