{% extends "base.html" %}
{% load i18n static django_bootstrap5 usrprofile_tags %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#id_edit").modalForm({
        formURL: "{% url 'medikamente:mededit' medikament.id %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

    $("#id_delete").modalForm({
        formURL: "{% url 'medikamente:deletemed' medikament.id %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

});
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
{% user_header medikament request.user %}

<div class="row mt-3">
    <div class="col-12">
        <table id="med" class="table table-bordered">
            <tbody>
                <tr>
                    <th class="label">{% trans 'Medicament' %}</th>
                    <td>{{ medikament.name }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Active ingredient' %}</th>
                    <td>{{ medikament.wirkstoff }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Package size' %}</th>
                    <td>{{ medikament.packung }} {% trans 'Tabl.' %}</td>
                </tr>
                <tr>
                    <th>{% trans 'Dose' %}</th>
                    <td>{{ medikament.staerke|floatformat:2 }} {{ medikament.einheit }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <button id="id_delete" type="button" class="btn btn-danger"
                data-url="{% url 'medikamente:deletevrd' object.id %}">
            {% trans 'Delete' %}
        </button>
    </div>
    <div class="col-8 text-end">
        <button id="id_edit" type="button" class="btn btn-primary">
            {% trans 'Edit' %}
        </button>
        <a href="{% url 'medikamente:medikamente' %}" class="btn btn-secondary">
            {% trans 'Back' %}
        </a>
    </div>
</div>

{% endblock %}

