{% extends "base.html" %}
{% load i18n bootstrap4 medi_tags usrprofile_tags %}


{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Prescription for' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <a href="{% url 'medikamente:vrdnew' %}" class="btn btn-primary" role="button" title="{% trans 'New prescription' %}">
        <i class="far fa-plus"></i>
    </a>
    <a href="{% url 'medikamente:emailverordnungen' %}" class="btn btn-primary" role="button" title="{% trans 'Send prescription' %}">
        <i class="far fa-envelope"></i>
    </a>
</div>

<div class="v-offset">
    <table id="wertelist" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>{% trans 'Medicament' %}</th>
                <th>{% trans 'Morning' %}</th>
                <th>{% trans 'Noon' %}</th>
                <th>{% trans 'Evening' %}</th>
                <th>{% trans 'Night' %}</th>
                <th>{% trans 'Weekdays' %}</th>
                <!--<th><span style="margin-left: 12px;">Bestand</span></th>-->
                <!--<th><span style="margin-left: 15px;">reicht f&uuml;r</span></th>-->
            </tr>
        </thead>
        <tbody>
            {% for vo in verordnungen %}
            <tr>
                <td>
                    <a href="{% url 'medikamente:vrdedit' vo.id %}">
                        {{ vo.ref_medikament.name }}
                        {{ vo.ref_medikament.staerke }}
                        {{ vo.ref_medikament.einheit }}
                    </a>
                </td>
                <td>
                    {% if vo.morgen %}
                        {{ vo.morgen|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis vo.morgen vo.id %})</small>
                    {% endif %}
                </td>
                <td>
                    {% if vo.mittag %}
                        {{ vo.mittag|floatformat:2 }} {% trans 'Tabl.' %}
                       <small>({% calc_dosis vo.mittag vo.id %})</small>
                    {% endif %}
                </td>
                <td>
                    {% if vo.abend %}
                        {{ vo.abend|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis vo.abend vo.id %})</small>
                    {% endif %}
                </td>
                <td>
                    {% if vo.nacht %}
                        {{ vo.nacht|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis vo.nacht vo.id %})</small>
                    {% endif %}
                </td>
                <td>
                {% if vo.mo and vo.di and vo.mi and vo.do and vo.fr and vo.sa and vo.so %}
                    <span>alle</span>
                {% else %}
                    {% trans 'Mo ,' as mo  %}
                    {% trans 'Tu ,' as tu  %}
                    {% trans 'We ,' as we  %}
                    {% trans 'Th ,' as th  %}
                    {% trans 'Fr ,' as fr  %}
                    {% trans 'Sa ,' as sa  %}
                    {% trans 'Su ,' as su  %}
                    {{ vo.mo|yesno:mo }}
                    {{ vo.di|yesno:tu }}
                    {{ vo.mi|yesno:we }}
                    {{ vo.do|yesno:th }}
                    {{ vo.fr|yesno:fr }}
                    {{ vo.sa|yesno:sa }}
                    {{ vo.so|yesno:su }}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

