{% extends "base.html" %}
{% load bootstrap4 i18n %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<style>
</style>
{% endblock %}

{% block page_title %}{% trans 'Delete medication' %}{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
    {% csrf_token %}
    <p>
        {% blocktrans trimmed %}Really delete medicine "{{ object }}"?{% endblocktrans %}
    </p>
    {% buttons layout='inline' %}
        {% trans 'Ok' as ok %}
        {% trans 'Cancel' as cancel %}
        {% bootstrap_button ok button_class="btn-primary" button_type='submit' name='ok' %}
        {% bootstrap_button cancel button_class="btn-default" button_type='submit' name='cancel' %}
    {% endbuttons %}
</form>

{% endblock %}