{% load django_bootstrap5 i18n %}
<style>
    .weekdays td, .weekdays th { text-align: center; }
</style>

<!-- Modal -->
<div class="modal fade" role="dialog" id="modal_delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<form role="form" class="form-horizontal" method="post" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">
            {% trans 'Prescription' %}
            {% if object.id %}
                &dash; {{ object.ref_medikament.name }}
                {{ object.ref_medikament.staerke }}
                {{ object.ref_medikament.einheit }}
            {% endif %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}is-invalid{% endif %}"></div>
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.ref_medikament %}

        {% trans 'Tabl. <span id="modosis"></span>' as modose %}
        {% trans 'Tabl. <span id="nndosis"></span>' as nndose %}
        {% trans 'Tabl. <span id="evdosis"></span>' as evdose %}
        {% trans 'Tabl. <span id="ngdosis"></span>' as ngdose %}
        {% bootstrap_field form.morgen addon_after=modose addon_after_class='input-group-text wide-addon' %}
        {% bootstrap_field form.mittag addon_after=nndose addon_after_class='input-group-text wide-addon' %}
        {% bootstrap_field form.abend addon_after=evdose addon_after_class='input-group-text wide-addon' %}
        {% bootstrap_field form.nacht addon_after=ngdose addon_after_class='input-group-text wide-addon' %}

        <h4>Wochentage</h4>
        <div class="mb-2">
            <button type="button" class="btn btn-sm btn-secondary" onclick="checkall();">
                <i class="far fa-check-square"></i> {% trans 'All' %}
            </button>
            <button type="button" class="btn btn-sm btn-secondary" onclick="checknone();">
                <i class="far fa-square"></i> {% trans 'None' context 'medic' %}
            </button>
        </div>
        <table class="table table-bordered weekdays">
            <thead>
                <tr>
                    <th>{{form.mo.label}}</th>
                    <th>{{form.di.label}}</th>
                    <th>{{form.mi.label}}</th>
                    <th>{{form.do.label}}</th>
                    <th>{{form.fr.label}}</th>
                    <th>{{form.sa.label}}</th>
                    <th>{{form.so.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{form.mo}}</td>
                    <td>{{form.di}}</td>
                    <td>{{form.mi}}</td>
                    <td>{{form.do}}</td>
                    <td>{{form.fr}}</td>
                    <td>{{form.sa}}</td>
                    <td>{{form.so}}</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-6">
                {% bootstrap_field form.valid_from %}
            </div>
            <div class="col-6">
                {% bootstrap_field form.valid_until %}
            </div>
        </div>

        <script type="text/javascript">
        $(document).ready(function(){
            calcdosis("#id_morgen", "#modosis");
            calcdosis("#id_mittag", "#nndosis");
            calcdosis("#id_abend", "#evdosis");
            calcdosis("#id_nacht", "#ngdosis");
        });

        function checkall() {
            $('#id_mo').prop('checked', true);
            $('#id_di').prop('checked', true);
            $('#id_mi').prop('checked', true);
            $('#id_do').prop('checked', true);
            $('#id_fr').prop('checked', true);
            $('#id_sa').prop('checked', true);
            $('#id_so').prop('checked', true);
        }

        function checknone() {
            $('#id_mo').prop('checked', false);
            $('#id_di').prop('checked', false);
            $('#id_mi').prop('checked', false);
            $('#id_do').prop('checked', false);
            $('#id_fr').prop('checked', false);
            $('#id_sa').prop('checked', false);
            $('#id_so').prop('checked', false);
        }

        function calcdosis (tabl_id, dosis_id) {
            let med_id = $("#id_ref_medikament").children(":selected").val();
            if (med_id) {
                let url = "/medikamente/getmed/" + med_id + "/";
                $.get(url, function (data) {
                    let med = data[0]['fields'];
                    let medstaerke = med['staerke'];
                    let medeinheit = med['einheit'];
                    let tabl = $(tabl_id).val();
                    if (tabl !== "") {
                        let dosis = medstaerke * parseFloat(tabl.replace(/,/g, '.'));
                        let strdosis = dosis.toFixed(2).toString().replace(/\./g, ',');
                        $(dosis_id).html('( = ' + strdosis + ' ' + medeinheit + ')');
                    }
                });
            }
        }

        $("#id_morgen").change(function () {
            calcdosis("#id_morgen", "#modosis");
        });
        $("#id_mittag").change(function () {
            calcdosis("#id_mittag", "#nndosis");
        });
        $("#id_abend").change(function () {
            calcdosis("#id_abend", "#evdosis");
        });
        $("#id_nacht").change(function () {
            calcdosis("#id_nacht", "#ngdosis");
        });
        $("#id_ref_medikament").change(function () {
            calcdosis("#id_morgen", "#modosis");
            calcdosis("#id_mittag", "#nndosis");
            calcdosis("#id_abend", "#evdosis");
            calcdosis("#id_nacht", "#ngdosis");
        });
        </script>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            {% trans 'Ok' %}
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" aria-label="Close">
            {% trans 'Cancel' %}
        </button>
    </div>

</form>
