{% extends "base.html" %}

{% block bootstrap4_extra_head %}
<style type="text/css">
#id_morgen { width: 3.5em; }
#id_mittag { width: 3.5em; }
#id_abend { width: 3.5em; }
#id_nacht { width: 3.5em; }
</style>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/zebra_datepickr.css"></link>
{% endblock %}

{% block bootstrap4_extra_script %}
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/zebra_datepickr.js" charset="utf-8"></script>

<script type="text/javascript">
function calcdosis (tabl_id, dosis_id) {
	var med_id = $("#id_ref_medikament").children(":selected").val();
	if (med_id != '' ) {
        var url = "/getmed/"+med_id+"/";
        $.get(url, function(data) {
            med = data[0]['fields'];
            medstaerke = med['staerke'];
            medeinheit = med['einheit'];
            var tabl = $(tabl_id).val();
            if (tabl == "") {
                $(dosis_id).html('Tabl.');
            } else {
                var dosis = medstaerke * parseFloat(tabl.replace(/,/g, '.'));
                var strdosis = dosis.toFixed(2).toString().replace(/\./g, ',');
                $(dosis_id).html('Tabl. ('+strdosis+' '+medeinheit+')');
            }
        });
    }
}

$(document).ready(function(){
	$("#id_ref_medikament").focus();
	calcdosis("#id_morgen", "#modosis");
	calcdosis("#id_mittag", "#midosis");
	calcdosis("#id_abend", "#abdosis");
	calcdosis("#id_nacht", "#nadosis");

	$('#id_gueltig_ab').Zebra_DatePicker({
		show_select_today: false,
		show_clear_date: false,
		readonly_element: false,
		direction: true,
		offset: [0, 200],
		format: 'd.m.Y',
		days: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
		days_abbr: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
		months: ['Januar','Februar', 'März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember']
	});
});

</script>
{% endblock %}

{% block content %}
<form method="post" action="" novalidate>
{% csrf_token %}

<div class="naviagation">
<input type="button" class="homebutton" onClick="window.location.href='/index/'" title="Zur Anfangsseite zurück"/>
<input type="submit" value="" class="savebutton" title="Verordnungsänderung speichern"/>
<input type="button" class="cancelbutton" onClick="window.location.href='/vrdfutchange/'" title="Verordnungsänderung verwerfen" />
</div>

<h3>Zukünftige Verordnungsänderung erfassen</h3>

<fieldset class="module aligned ">
<h2>Verordnungsänderung</h2>
<table>
	<tbody>
		<tr><th>Medikament:</th><td>{{ form.ref_medikament }}{{ form.ref_medikament.errors }}</td></tr>
		<tr><th>{{ form.morgen.label }}:</th><td>{{ form.morgen }}<span id="modosis"></span>{{ form.morgen.errors }}</td></tr>
		<tr><th>{{ form.mittag.label }}:</th><td>{{ form.mittag }}<span id="midosis"></span>{{ form.mittag.errors }}</td></tr>
		<tr><th>{{ form.abend.label }}:</th><td>{{ form.abend }}<span id="abdosis"></span>{{ form.abend.errors }}</td></tr>
		<tr><th>{{ form.nacht.label }}:</th><td>{{ form.nacht }}<span id="nadosis"></span>{{ form.nacht.errors }}</td></tr>
        <tr><th>{{ form.gueltig_ab.label }}:</th><td>{{ form.gueltig_ab }}{{ form.gueltig_ab.errors }}</td></tr>
	</tbody>
</table>
</fieldset>
<fieldset class="module aligned ">
<h2>Wochentage</h2>
<div style="float:left;">
<table>
    <thead>
        <tr>
            <th>{{form.mo.label}}</th>
            <th>{{form.di.label}}</th>
            <th>{{form.mi.label}}</th>
            <th>{{form.do.label}}</th>
            <th>{{form.fr.label}}</th>
            <th>{{form.sa.label}}</th>
            <th>{{form.so.label}}</th>
        </tr>
    </thead>
	<tbody>
        <tr>
            <td>{{form.mo}}</td>
            <td>{{form.di}}</td>
            <td>{{form.mi}}</td>
            <td>{{form.do}}</td>
            <td>{{form.fr}}</td>
            <td>{{form.sa}}</td>
            <td>{{form.so}}</td>
        </tr>
    </tbody>
</table>
</div>
<div style="float:left;margin: 10px 10px;">
    <button onclick="checkall(); return false;">alle</button>
    <button onclick="checknone();return false;">keine</button>
</div>
</fieldset>
</form>

<script type="text/javascript">
function checkall() {
    $('#id_mo').attr('checked', true);
    $('#id_di').attr('checked', true);
    $('#id_mi').attr('checked', true);
    $('#id_do').attr('checked', true);
    $('#id_fr').attr('checked', true);
    $('#id_sa').attr('checked', true);
    $('#id_so').attr('checked', true);
}

function checknone() {
$('#id_mo').attr('checked', true);
    $('#id_mo').attr('checked', false);
    $('#id_di').attr('checked', false);
    $('#id_mi').attr('checked', false);
    $('#id_do').attr('checked', false);
    $('#id_fr').attr('checked', false);
    $('#id_sa').attr('checked', false);
    $('#id_so').attr('checked', false);
}

$("#id_morgen").change(function () {
	calcdosis("#id_morgen", "#modosis");
});
$("#id_mittag").change(function () {
	calcdosis("#id_mittag", "#midosis");
});
$("#id_abend").change(function () {
	calcdosis("#id_abend", "#abdosis");
});
$("#id_nacht").change(function () {
	calcdosis("#id_nacht", "#nadosis");
});
$("#id_ref_medikament").change(function () {
	calcdosis("#id_morgen", "#modosis");
	calcdosis("#id_mittag", "#midosis");
	calcdosis("#id_abend", "#abdosis");
	calcdosis("#id_nacht", "#nadosis");
});
</script>

{% endblock %}
