{% extends "base_site.html" %}

{% block extrastyle %}
<style type="text/css">
div.filter {  padding-left: 3px; padding-top: 3px;padding-bottom: 3px; }
</style>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.dataTables.css"></link>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/zebra_dialog.css"></link>
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/dataTables.date-dd-mm-yyyy_hh_mm.js"></script>
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/zebra_dialog.js"></script>
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/medic.js"></script>

<script type="text/javascript">
document.addEventListener("touchstart", function() {},false);

function calcTableSize(oTable) {
    var contentheight = Math.floor($(window).height() - 140);
    var rowheight = $('table.dataTable td').height() + 11; // + 2 * td-padding (oben, unten) + 1
    var tableheight = contentheight - (contentheight % rowheight);
    var linecount = tableheight / rowheight;
    var oSettings = oTable.fnSettings();
    oSettings.oScroll.sY = tableheight + "px";
    oTable.fnDraw(false);
}

$(window).resize(function() {
	calcTableSize($('#verordnungen').dataTable());
});

$(document).ready(function(){
	var defaultOptions = {
			"aoColumns": [
					   	  { "bVisible": false }, // ID (unsichtbar)
						  { "sWidth": "200" }, // Medikament
			              { "sWidth": "60", "bSortable": false }, // morgens
			              { "sWidth": "60", "bSortable": false }, // mittags
			              { "sWidth": "60", "bSortable": false }, // abends
			              { "sWidth": "60", "bSortable": false }, // nachts
			              { "sClass": "center", "bSortable": false },  // Montag
			              { "sClass": "center", "bSortable": false },  // Dienstag
			              { "sClass": "center", "bSortable": false },  // Mittwoch
			              { "sClass": "center", "bSortable": false },  // Donnerstag
			              { "sClass": "center", "bSortable": false },  // Freitag
			              { "sClass": "center", "bSortable": false },  // Samstag
			              { "sClass": "center", "bSortable": false },  // Sonntag
			              { "sType": "date-euro", "bSortable": true, "sWidth": "70" }  // gülitg ab
			          ],
			"bFilter": false,
			"bInfo": true,
	        "sScrollY": "600px",
	        "bPaginate": false,
	        "bScrollCollapse": true,
	        "bAutoWidth": true,
	        "aaSorting": [[ 13, "asc" ]],
// 	        "bLengthChange": false,
	        "oLanguage": {
	        	"sEmptyTable": "Keine zukünftigen Änderungen",
	            "sInfo": "_TOTAL_ Änderungen",
	            "sInfoThousands": ".",
	            "sInfoEmpty": "Keine Änderungen",
	            "sProcessing": "aktualisiere...",
	        }
	};
	
	oTable = $('#verordnungen').dataTable( defaultOptions );
	calcTableSize(oTable);
	
	/* Add a click handler to the rows - this could be used as a callback */
    $("#verordnungen tbody tr").click( function( e ) {
        if ( $(this).hasClass('row_selected') ) {
            $(this).removeClass('row_selected');
        }
        else {
            oTable.$('tr.row_selected').removeClass('row_selected');
            $(this).addClass('row_selected');
        }
    });
	
    /* Double-Click event handler */
   	$('#verordnungen tbody tr').bind('dblclick', function () {
		var aData = oTable.fnGetData( this );
		var vrd_id = aData[0];
		if (vrd_id != null) {
			window.location.href='/vrdedit/'+vrd_id+'/';
		}
    });

});

function editvrdfut () {
	var oTableLocal = $('#verordnungen').dataTable();
	var selectedRow = oTableLocal.$('tr.row_selected');
	var aData = oTable.fnGetData( selectedRow[0] );
	var vrdfut_id = aData[0];
	if (selectedRow[0] != null) {
		window.location.href='/vrdfutedit/'+vrdfut_id+'/';
	}
}

function delvrdfut () {
	clearMessages();
	var oTableLocal = $('#verordnungen').dataTable();
	var selectedRow = oTableLocal.$('tr.row_selected');
	var idx = oTableLocal.fnGetPosition(selectedRow[0]);
	var data = oTableLocal.fnGetData(selectedRow[0]);
	var vrdfut_id = data[0];
	var vrdfut = data[1];
	if (idx != null) {
		$.Zebra_Dialog('Verordnungsänderung '+vrdfut+' löschen?', {
			'type':     'question',
		    'title':    'Verordnungänderung löschen',
		    'position': ['left+50', 'top+50'],
		    'buttons':  ['Nein', 'Ja'],
		    'onClose':  function(caption) {
		        if (caption == 'Ja') {
		        	url = "/delvrdfut/"+vrdfut_id+"/";
					$.get(url, function(data) {
			    	if (data) {
			    		oTableLocal.fnDeleteRow(idx);
			    		setMessage('success', 'Verordnung '+vrdfut+' gelöscht.');
			    	} else {
			    		setMessage('error', data);
			    		err = true;
			    	} // end if data
					});
			    } // end if caption
			} // end function 
		}); // end Zebra_dialog
	} // end if idx
}; // end delvrdfut
</script>
{% endblock %}

{% block content %}
<div class="naviagation">
<input type="button" class="homebutton" onClick="window.location.href='/index/'" title="Zur Anfangsseite zurück"/>
<input type="button" class="backbutton" onClick="window.location.href='/vrdchange/'" title="Seite verlassen"/>
</div>

<form method="POST" action="" novalidate>
{% csrf_token %}

<h3>Zukünftige Verordnungsänderungen</h3>
<p>Hinweis: Änderungen für bestehende Verordnungen ersetzen diese</p>

<fieldset class="module" style="float:left; width: 100%; ">
<h2>Funktion</h2>
<div class="filter">
<input type="button" class="add" onclick="window.location.href='/vrdfutnew/'" title="Neue Verordnungsänderung erstellen"/>
<input type='button' class="edit" onclick="editvrdfut();" title="Verordnungveränderung bearbeiten"/>
<input type='button' class="del" onclick="delvrdfut();" title="Verordnungsänderung löschen"/>
<input type='button' class="hist" onclick="window.location.href='/vrdfuthistory/';" title="Verlauf Verordnungsveränderungen" />
</div>
</fieldset>

<div class="module" style="float:left;">
<table id="verordnungen">
<thead>
	<tr>
		<th>id</th>
		<th>Medikament</th>
		<th>Morgen</th>
		<th>Mittag</th>
		<th>Abend</th>
		<th>Nacht</th>
        <th>Mo</th>
        <th>Di</th>
        <th>Mi</th>
        <th>Do</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>So</th>
        <th>gültig ab</th>
	</tr>
</thead>
<tbody>
{% for vrd in vrdfutlist %}
<tr>
	<td>{{ vrd.id }}</td>
	<td><a>{{ vrd.ref_medikament }}</a></td>
	<td>{% if vrd.morgen %}{{ vrd.morgen|floatformat:2 }} Tbl.{% endif %}</td>
	<td>{% if vrd.mittag %}{{ vrd.mittag|floatformat:2 }} Tbl.{% endif %}</td>
	<td>{% if vrd.abend %}{{ vrd.abend|floatformat:2 }} Tbl.{% endif %}</td>
	<td>{% if vrd.nacht %}{{ vrd.nacht|floatformat:2 }} Tbl.{% endif %}</td>
    <td>{{ vrd.mo|yesno:"x,-" }}</td>
    <td>{{ vrd.di|yesno:"x,-" }}</td>
    <td>{{ vrd.mi|yesno:"x,-" }}</td>
    <td>{{ vrd.do|yesno:"x,-" }}</td>
    <td>{{ vrd.fr|yesno:"x,-" }}</td>
    <td>{{ vrd.sa|yesno:"x,-" }}</td>
    <td>{{ vrd.so|yesno:"x,-" }}</td>
    <td>{{ vrd.gueltig_ab|date:_("d.m.Y") }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

</form>
{% endblock %}

