{% extends "base.html" %}
{% load static bootstrap4 l10n i18n usrprofile_tags %}

{% block bootstrap4_extra_script %}
{{ block.super }}
{{ form.media }}
<link rel="stylesheet" href="{% static 'bootstrap4_datetime/bootstrap-datetimepicker.min.css' %}" type="text/css" />
<script src="{% static 'bootstrap4_datetime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'bootstrap4_datetime/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Settings for' as user_title %}
{% user_header user_title user %}

<div class="v-offset">
    <form role="form" class="form-horizontal" method="post" novalidate>
        {% csrf_token %}

        {% bootstrap_form_errors form type='non_fields' %}

        <h4 class="v-offset">{% trans 'Personal data' %}</h4>
        {% bootstrap_field form.gebdat layout='horizontal' %}
        {% bootstrap_field form.email layout='horizontal' %}
        {% bootstrap_field form.myStartPage layout='horizontal' %}

        <h4 class="v-offset">{% trans 'Periods' %}</h4>
        {% bootstrap_field form.warnenTageVorher layout='horizontal' %}
        {% bootstrap_field form.werteLetzteTage layout='horizontal' %}

        <h4 class="v-offset">{% trans 'Visibility of data for doctor' %}</h4>
        {% bootstrap_field form.zeigeArztWerte layout='horizontal' %}
        {% bootstrap_field form.zeigeArztMed layout='horizontal' %}

        <h4 class="v-offset">{% trans 'Doctor' %}</h4>
        {% bootstrap_field form.email_arzt layout='horizontal' %}

        {% trans 'Ok' as ok %}
        {% trans 'Cancel' as cancel %}
        {% buttons layout='inline' %}
            {% bootstrap_button ok button_class="btn-primary" button_type='submit' name='Ok' %}
            {% bootstrap_button cancel button_class="btn-secondary" button_type='submit' name='cancel' %}
        {% endbuttons %}
    </form>
</div>


{% endblock %}
