{% extends "base.html" %}
{% load static django_bootstrap5 l10n i18n usrprofile_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}

{% trans 'Settings for' as user_title %}
{% user_header user_title user %}
<form role="form" method="post" novalidate>
    {% csrf_token %}

    {% bootstrap_form_errors form type='non_fields' %}

    <h4>{% trans 'Personal data' %}</h4>
    {% bootstrap_field form.gebdat layout='floating' %}
    {% bootstrap_field form.email layout='floating' %}
    {% bootstrap_field form.myStartPage layout='floating' %}

    <h4>{% trans 'Periods' %}</h4>
    {% bootstrap_field form.warnenTageVorher layout='floating' %}
    {% bootstrap_field form.werteLetzteTage layout='floating' %}

    <h4>{% trans 'Visibility of data for doctor' %}</h4>
    {% bootstrap_field form.zeigeArztWerte wrapper_class="form-check form-switch" %}
    {% bootstrap_field form.zeigeArztMed  wrapper_class="form-check form-switch" %}

    <h4>{% trans 'Doctor' %}</h4>
    {% bootstrap_field form.email_arzt layout='floating' %}

    {% trans 'Ok' as ok %}
    {% trans 'Cancel' as cancel %}
    {% bootstrap_button ok button_class="btn-primary" button_type='submit' name='ok' %}
    {% bootstrap_button cancel button_class="btn-secondary" button_type='submit' name='cancel' %}
</form>
{% endblock %}
