.centered {
    text-align: center;
}

.v-offset {
    margin-top: 10px;
}

.menu {
    width: 80%;
}

.user-header {
    margin-bottom: 3px;
}
.user-header .card-header {
    padding: .4rem;
}
.user-header .card-text {
    padding: .5rem;
    margin-bottom: 0;
    font-size: smaller;
}

.bootstrap-growl { width: 300px !important; }

.table-condensed td, .table-condensed th {
    padding: 0.4rem;
}
.table td svg {
    margin-bottom: 1px;
}
.table-condensed {
    font-size: .9rem;
}