/*
    Druck css
*/

.container {
	width: 90%;
	margin: 0 auto !important;
}

.btn-group, .btn {
	display: none !important;
}

a[href]::after {
    content: "" !important;
}
a:link, a:hover, a:visited {
	text-decoration: none;
	color: rgb(33, 37, 41);
}

.user-header {
	border-color: #999;
}
.user-header .card-header,
.user-header .card-text {
	color: #666;
}
