/*
    Druck css
*/

body {
    font-size: 0.7rem;
}

.container {
	width: 90%;
	margin: 0 auto !important;
}

svg, .btn-group, .btn , .navbar,
.filter, .alert {
	display: none !important;
}

.update-action {
    color: rgb(33, 37, 41);
}

.user-header {
	border-color: #999;
}
.user-header .card-header,
.user-header .card-text {
	color: #666;
}
