.bg-primary {
    background-color: #19699d !important;
}

.btn-primary {
    background-color: #19699d !important;
    border-color: #19699d !important;
}

body {
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

.centered {
    text-align: center;
}

.menu {
    width: 80%;
}

.user-header {
    margin-bottom: 3px;
}
.user-header .card-header {
    padding: .4rem;
}
.user-header .card-text {
    padding: .5rem;
    margin-bottom: 0;
    font-size: smaller;
}

.bootstrap-growl { width: 300px !important; }

.table-condensed td, .table-condensed th {
    padding: 0.4rem;
}
.table td svg {
    margin-bottom: 1px;
}

.modal {
    margin-top: 3vh;
}

.as_link {
    color: #19699d;
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.005);
}

.table-striped tbody tr:hover {
    background-color: rgba(24, 102, 152, .2);
}

.tooltip-inner {
    color: #333333;
    background-color: #dddddd;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #dddddd !important;
}

th.label {
    width: 30%;
}

td > a {
    text-decoration: none;
    color: #19699d;
}
