{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" %}
                {% trans 'Set Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    </div>
</div>
{% endblock content %}
