{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block page_title %}{% endblock %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <h4>{% trans 'No start page defined.' %}</h4>
    <p>
        {% trans 'You can define a start page by selecting it in your user settings.' %}
    </p>
    <a href="{% url 'usrprofile:update' %}">
        <button class="btn btn-primary" type="button">
            <i class='far fa-cog'></i>
            {% trans 'Settings' %}
        </button>
    </a>
</div>

{% endblock %}

