{% extends "base.html" %}
{% load i18n static django_bootstrap5 usrprofile_tags prescription_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "presription/css/prescription.css" %}" />
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#id_edit").modalForm({
        formURL: "{% url 'prescription:update' prescription.id %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

    $("#id_delete").modalForm({
        formURL: "{% url 'prescription:delete' prescription.id %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

});
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
{% user_header prescription request.user %}

<div class="row mt-3">
    <div class="col-12">
        <table id="med" class="table table-bordered">
            <tbody>
                <tr>
                    <th class="label">{% trans 'Medicament' %}</th>
                    <td>{{ prescription.medicament.name }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Active ingredient' %}</td>
                    <td>{{ prescription.medicament.ingredient }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Package size' %}</td>
                    <td>{{ prescription.medicament.package }} {% trans 'Tabl.' %}</td>
                </tr>
                <tr>
                    <td>{% trans 'Dose' %}</td>
                    <td>
                        {{ prescription.medicament.strength|floatformat:2 }}
                        {{ prescription.medicament.unit }}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        {% trans 'Prescription' %}
                    </th>
                </tr>
                {% if prescription.morning %}
                <tr>
                    <td>{% trans 'Morning' %}</td>
                    <td>
                        {{ prescription.morning|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis prescription.morning prescription.id %})</small>
                    </td>
                </tr>
                {% endif %}
                {% if prescription.noon %}
                <tr>
                    <td>{% trans 'Noon' %}</td>
                    <td>
                        {{ prescription.noon|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis prescription.noon prescription.id %})</small>
                    </td>
                </tr>
                {% endif %}
                {% if prescription.evening %}
                <tr>
                    <td>{% trans 'Evening' %}</td>
                    <td>
                        {{ prescription.evening|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis prescription.evening prescription.id %})</small>
                    </td>
                </tr>
                {% endif %}
                {% if prescription.night %}
                <tr>
                    <td>{% trans 'Night' %}</td>
                    <td>
                        {{ prescription.night|floatformat:2 }} {% trans 'Tabl.' %}
                        <small>({% calc_dosis prescription.night prescription.id %})</small>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% trans 'Weekdays' %}</td>
                    <td>
                        {% weekday_disp prescription.weekdays %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        {% trans 'Valid' %}
                    </th>
                </tr>
                <tr>
                    <td>{% trans 'Valid from' %}</td>
                    <td>
                        {{ prescription.valid_from|date:'DATE_FORMAT' }}
                    </td>
                </tr>
                <tr>
                    <td>{% trans 'Valid until' %}</td>
                    <td>
                        {% trans 'unlimited' as unlimited %}
                        {{ prescription.valid_until|date:'DATE_FORMAT'|default:unlimited }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <button id="id_delete" type="button" class="btn btn-danger"
                data-url="{% url 'prescription:delete' object.id %}">
            {% trans 'Delete' %}
        </button>
    </div>
    <div class="col-8 text-end">
        <button id="id_edit" type="button" class="btn btn-primary">
            {% trans 'Edit' %}
        </button>
        <a href="{% url 'prescription:list' %}" class="btn btn-secondary">
            {% trans 'Back' %}
        </a>
    </div>
</div>

{% endblock %}

