{% extends "base.html" %}
{% load i18n static django_bootstrap5 prescription_tags usrprofile_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#create-action").modalForm({
        formURL: "{% url 'prescription:create' %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

});
</script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
{% trans 'Prescriptions' as user_title %}
{% user_header user_title user %}

<div class="btn-group" role="group" >
    <a href="{% url 'startpage' %}" class="btn btn-primary" role="button" title="{% trans 'Home page' %}">
        <i class="far fa-home"></i>
    </a>
    <button id="create-action" class="btn btn-primary" role="button" title="{% trans 'New prescription' %}">
        <i class="far fa-plus"></i>
    </button>
</div>

<div class="row mt-3">
    <div class="col">
        <table data-toggle="table" data-classes="table table-striped table-bordered"
               data-locale="de-DE" data-mobile-responsive="true" data-min-width="768">
            <thead>
                <tr>
                    <th>{% trans 'Medicament' %}</th>
                    <th>{% trans 'Morning' %}</th>
                    <th>{% trans 'Noon' %}</th>
                    <th>{% trans 'Evening' %}</th>
                    <th>{% trans 'Night' %}</th>
                    <th>{% trans 'Weekdays' %}</th>
                    <!--<th><span style="margin-left: 12px;">Bestand</span></th>-->
                    <!--<th><span style="margin-left: 15px;">reicht f&uuml;r</span></th>-->
                </tr>
            </thead>
            <tbody>
                {% for prescription in prescription_list %}
                <tr>
                    <td>
                        <a href="{% url 'prescription:detail' prescription.id %}">
                            {{ prescription.medicament.name }}
                            {{ prescription.medicament.strength }}
                            {{ prescription.medicament.unit }}
                        </a>
                    </td>
                    <td>
                        {% if prescription.morning %}
                            {{ prescription.morning|floatformat:2 }} {% trans 'Tabl.' %}
                            <small>({% calc_dosis prescription.morning prescription.id %})</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if prescription.noon %}
                            {{ prescription.noon|floatformat:2 }} {% trans 'Tabl.' %}
                           <small>({% calc_dosis prescription.noon prescription.id %})</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if prescription.evening %}
                            {{ prescription.evening|floatformat:2 }} {% trans 'Tabl.' %}
                            <small>({% calc_dosis prescription.evening prescription.id %})</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if prescription.night %}
                            {{ prescription.night|floatformat:2 }} {% trans 'Tabl.' %}
                            <small>({% calc_dosis prescription.night prescription.id %})</small>
                        {% endif %}
                    </td>
                    <td>
                    {% if prescription.mo and prescription.tu and prescription.we and prescription.th and prescription.fr and prescription.sa and prescription.so %}
                        <span>alle</span>
                    {% else %}
                        {% trans 'Mo ,' as mo  %}
                        {% trans 'Tu ,' as tu  %}
                        {% trans 'We ,' as we  %}
                        {% trans 'Th ,' as th  %}
                        {% trans 'Fr ,' as fr  %}
                        {% trans 'Sa ,' as sa  %}
                        {% trans 'Su ,' as su  %}
                        {{ prescription.mo|yesno:mo }}
                        {{ prescription.tu|yesno:tu }}
                        {{ prescription.we|yesno:we }}
                        {{ prescription.th|yesno:th }}
                        {{ prescription.fr|yesno:fr }}
                        {{ prescription.sa|yesno:sa }}
                        {{ prescription.so|yesno:su }}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

