{% load django_bootstrap5 i18n %}
<style>
    .weekdays td, .weekdays th { text-align: center; }
</style>

<form role="form" class="form-horizontal" method="post" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">
            {% trans 'Prescription' %}
            {% if object.id %}
                &dash; {{ object.medicament.name }}
                {{ object.medicament.strength }}
                {{ object.medicament.unit }}
            {% endif %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}is-invalid{% endif %}"></div>
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.medicament %}

        {% trans 'Tabl. <span id="modosis"></span>' as modose %}
        {% trans 'Tabl. <span id="nndosis"></span>' as nndose %}
        {% trans 'Tabl. <span id="evdosis"></span>' as evdose %}
        {% trans 'Tabl. <span id="ngdosis"></span>' as ngdose %}
        {% bootstrap_field form.morning addon_after=modose addon_after_class='input-group-text wide-addon' %}
        {% bootstrap_field form.noon addon_after=nndose addon_after_class='input-group-text wide-addon' %}
        {% bootstrap_field form.evening addon_after=evdose addon_after_class='input-group-text wide-addon' %}
        {% bootstrap_field form.night addon_after=ngdose addon_after_class='input-group-text wide-addon' %}

        <h4>Wochentage</h4>
        <div class="mb-2">
            <button type="button" class="btn btn-sm btn-secondary" onclick="checkall();">
                <i class="far fa-check-square"></i> {% trans 'All' %}
            </button>
            <button type="button" class="btn btn-sm btn-secondary" onclick="checknone();">
                <i class="far fa-square"></i> {% trans 'None' context 'medic' %}
            </button>
        </div>
{#        {% bootstrap_field form.weekdays size='sm' %}#}
        {{ form.weekdays }}
{#        <table class="table table-bordered weekdays">#}
{#            {% for key in form.weekdays.field.widget %}#}
{#            <tr>#}
{#                <td>{{ key }} {{ choice }}</td>#}
{#                <td>#}
{#                    <input  class="form-check-input" type="checkbox"#}
{#                            id="id_weekdays_{{ forloop.counter0 }}"#}
{#                            value="{{ key }}" name="weekdays"#}
{#                            checked="{{ key }}"/>#}
{#                </td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#        </table>#}

        <div class="row">
            <div class="col-6">
                {% bootstrap_field form.valid_from size='sm' %}
            </div>
            <div class="col-6">
                {% bootstrap_field form.valid_until size='sm' %}
            </div>
        </div>

        <script type="text/javascript">
        $(document).ready(function(){
            calcdosis("#id_morning", "#modosis");
            calcdosis("#id_noon", "#nndosis");
            calcdosis("#id_evening", "#evdosis");
            calcdosis("#id_night", "#ngdosis");
        });

        function checkall() {
            $('#id_weekdays_0').prop('checked', true);
            $('#id_weekdays_1').prop('checked', true);
            $('#id_weekdays_2').prop('checked', true);
            $('#id_weekdays_3').prop('checked', true);
            $('#id_weekdays_4').prop('checked', true);
            $('#id_weekdays_5').prop('checked', true);
            $('#id_weekdays_6').prop('checked', true);
        }

        function checknone() {
            $('#id_weekdays_0').prop('checked', false);
            $('#id_weekdays_1').prop('checked', false);
            $('#id_weekdays_2').prop('checked', false);
            $('#id_weekdays_3').prop('checked', false);
            $('#id_weekdays_4').prop('checked', false);
            $('#id_weekdays_5').prop('checked', false);
            $('#id_weekdays_6').prop('checked', false);
        }

        function calcdosis (tabl_id, dosis_id) {
            let med_id = $("#id_medicament").children(":selected").val();
            if (med_id) {
                let url = "/medicament/get/" + med_id + "/";
                $.get(url, function (data) {
                    let med = data[0]['fields'];
                    let medstaerke = med['strength'];
                    let medeinheit = med['unit'];
                    let tabl = $(tabl_id).val();
                    if (tabl !== "") {
                        let dosis = medstaerke * parseFloat(tabl.replace(/,/g, '.'));
                        let strdosis = dosis.toFixed(2).toString().replace(/\./g, ',');
                        $(dosis_id).html('( = ' + strdosis + ' ' + medeinheit + ')');
                    }
                });
            }
        }

        $("#id_morning").change(function () {
            calcdosis("#id_morgen", "#modosis");
        });
        $("#id_noon").change(function () {
            calcdosis("#id_mittag", "#nndosis");
        });
        $("#id_evening").change(function () {
            calcdosis("#id_abend", "#evdosis");
        });
        $("#id_night").change(function () {
            calcdosis("#id_nacht", "#ngdosis");
        });
        $("#id_medicament").change(function () {
            calcdosis("#id_morning", "#modosis");
            calcdosis("#id_noon", "#nndosis");
            calcdosis("#id_evening", "#evdosis");
            calcdosis("#id_night", "#ngdosis");
        });
        </script>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            {% trans 'Ok' %}
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" aria-label="Close">
            {% trans 'Cancel' %}
        </button>
    </div>

</form>
